<div id="<%= dom_id profile %>">
  <p>
    <strong>Number of reading:</strong>
    <%= profile.number_of_reading %>
  </p>

  <p>
    <strong>Number page per reading:</strong>
    <%= profile.number_page_per_reading %>
  </p>

  <p>
    <strong>Current book:</strong>
    <%= profile.current_book_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

</div>
