<div id="<%= dom_id reading_mission %>">
  <p>
    <strong>Name:</strong>
    <%= reading_mission.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= reading_mission.status %>
  </p>

  <p>
    <strong>Exact page:</strong>
    <%= reading_mission.exact_page %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= reading_mission.date %>
  </p>

  <p>
    <strong>From page:</strong>
    <%= reading_mission.from_page %>
  </p>

  <p>
    <strong>To page:</strong>
    <%= reading_mission.to_page %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= reading_mission.book_id %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= reading_mission.priority %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= reading_mission.active %>
  </p>

</div>
