<div id="<%= dom_id user_group %>">
  <p>
    <strong>User:</strong>
    <%= user_group.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= user_group.group_id %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user_group.role %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= user_group.status %>
  </p>

  <p>
    <strong>User group type:</strong>
    <%= user_group.user_group_type %>
  </p>

</div>
