<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :user_groups_count, style: "display: block" %>
    <%= form.number_field :user_groups_count %>
  </div>

  <div>
    <%= form.label :book_groups_count, style: "display: block" %>
    <%= form.number_field :book_groups_count %>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :group_type, style: "display: block" %>
    <%= form.number_field :group_type %>
  </div>

  <div>
    <%= form.label :avatar, style: "display: block" %>
    <%= form.text_field :avatar %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.label :member_number_limitation, style: "display: block" %>
    <%= form.number_field :member_number_limitation %>
  </div>

  <div>
    <%= form.label :book_number_required, style: "display: block" %>
    <%= form.number_field :book_number_required %>
  </div>

  <div>
    <%= form.label :join_fee, style: "display: block" %>
    <%= form.text_field :join_fee %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
