<%= form_with(model: reading_time) do |form| %>
  <% if reading_time.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reading_time.errors.count, "error") %> prohibited this reading_time from being saved:</h2>

      <ul>
        <% reading_time.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.datetime_field :start_time %>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.datetime_field :end_time %>
  </div>

  <div>
    <%= form.label :from_page, style: "display: block" %>
    <%= form.number_field :from_page %>
  </div>

  <div>
    <%= form.label :to_page, style: "display: block" %>
    <%= form.number_field :to_page %>
  </div>

  <div>
    <%= form.label :book_id, style: "display: block" %>
    <%= form.number_field :book_id %>
  </div>

  <div>
    <%= form.label :note, style: "display: block" %>
    <%= form.text_area :note %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
