<div id="<%= dom_id reading_time %>">
  <p>
    <strong>Start time:</strong>
    <%= reading_time.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= reading_time.end_time %>
  </p>

  <p>
    <strong>From page:</strong>
    <%= reading_time.from_page %>
  </p>

  <p>
    <strong>To page:</strong>
    <%= reading_time.to_page %>
  </p>

  <p>
    <strong>Book:</strong>
    <%= reading_time.book_id %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= reading_time.note %>
  </p>

</div>
