<div id="<%= dom_id book %>">
  <p>
    <strong>Cover:</strong>
    <%= book.cover %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Buy at:</strong>
    <%= book.buy_at %>
  </p>

  <p>
    <strong>Number of page:</strong>
    <%= book.number_of_page %>
  </p>

  <p>
    <strong>Current page:</strong>
    <%= book.current_page %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= book.active %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= book.priority %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

</div>
