<div id="<%= dom_id plan %>">
  <p>
    <strong>Name:</strong>
    <%= plan.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= plan.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= plan.end_date %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= plan.priority %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= plan.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= plan.description %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= plan.completed_at %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= plan.active %>
  </p>

</div>
